.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button-police {
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color:#2563EB;
  color:white;
}

.button-med {
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color:red;
  color:white;
}
.button-immigration {
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color:green;
  color:white;
}

ol {
  text-align: left;
}
